@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

body {
    background-image: url("../media/svg/imagen\ fondo.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f28b00;
}

.container {
    position: relative;
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(red, green, blue, alpha);
}

.terms-conditions a {
    display: flex;
    justify-content: center;
}

.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.logo-header {
    width: 100%;
}

.container form {
    margin-top: 30px;
}

.form .input-area {
    width: 100%;
    margin-top: 20px;
}

.select-box .input-area label {
    color: #333;
}

.student-info {
    margin-top: 20px;
}

.student-info label {
    font-weight: 400;
}

.student-info a {
    font-weight: 300;
    font-size: 0.8rem;
}

.form :where(.input-area input, .select-box) {
    position: relative;
    height: 50px;
    width: 50%;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 0 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
}

.form hr {
    margin-top: 30px;
}

.hr-title {
    margin-bottom: 60px;
}

.terms-conditions {
    font-size: 0.7rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    border: none;
    margin-top: 30px;
    font-weight: 400;
    transition: all 0.2s ease;
    border-radius: 6px;
    background-color: #e49225;
}

.form button:hover {
    background-color: #f28b00;
}

@media screen and (max-width: 500px) {
    .form :where(.input-area input, .select-box) {
        width: 100%;
    }
}